node_modules
.git
.data
.next
.env
*.md
!AGENTS.md
!docker-entrypoint.sh
.github
ops/*
!ops/templates/
ops/templates/*
!ops/templates/openclaw-gateway@.service
scripts/*
!scripts/check-node-version.mjs
!scripts/prepare-standalone-artifact.mjs
!scripts/load-env.sh
!scripts/mc-https-proxy.js
